.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.nav li {
  float: left;
  margin-left: 30px;
}

.nav li .a {
  display: block;
  color: black;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
}

li .a:hover {
  background-color: blanchedalmond;
}